<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>mate.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createNewDriver</servlet-name>
        <servlet-class>mate.controller.driver.CreateNewDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewDriver</servlet-name>
        <url-pattern>/drivers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>displayAllDrivers</servlet-name>
        <servlet-class>mate.controller.driver.DisplayAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayAllDrivers</servlet-name>
        <url-pattern>/drivers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createNewManufacturer</servlet-name>
        <servlet-class>mate.controller.manufacturer.CreateNewManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewManufacturer</servlet-name>
        <url-pattern>/manufacturers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createNewCarController</servlet-name>
        <servlet-class>mate.controller.car.CreateNewCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createNewCarController</servlet-name>
        <url-pattern>/cars/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addingDriverToCarController</servlet-name>
        <servlet-class>mate.controller.car.AddDriverToCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addingDriverToCarController</servlet-name>
        <url-pattern>/cars/drivers/add</url-pattern>
    </servlet-mapping>
</web-app>
